doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        p
            div
                a.logo(href='/', target='_self') Home
            
            div
                a.signin(href='/member/signin') Sign In
            
            div
                a.signup(href='/member/signup') Sign Up
            
            div
                a.logout(href='/member/signout') Sign Out
                
        if messages
            p Message: #{messages}
                
    block content
    
    footer
        p My social media 
