doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        p
            p
                a.logo(href='/', target='_self') Logo
            p
                a.signin(href='/signin', target='-self') Sign In
            p
                a.signup(href='/signup', target='_self') Sign Up
                
    block content
    
    footer
        p My social media 
